/* Overlay de carregamento */
.loading-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    z-index: 1000 !important;
}

/* Progresso */
.loading-overlay .progress {
    position: absolute !important;
    bottom: 10px !important;
    width: 90% !important;
    height: 5px !important;
    background-color: #e0e0e0 !important;
    border-radius: 5px !important;
    overflow: hidden !important;
    opacity: 0; /* Oculta inicialmente */
    transition: opacity 0.5s ease, width 0.3s ease; /* Transição suave para opacidade */
}

/* Barra de Progresso */
.loading-overlay .progress-bar {
    width: 0%;
    height: 100% !important;
    background-color: #4caf50 !important;
    transition: width 0.3s ease !important;
}

/* Listras animadas */
.progress-bar-striped {
    background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
}

/* Animação das listras */
.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

/* Animação de listras */
@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}
