#project {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#project-suggestions {
    position: absolute;
    top: 100%; /* Logo abaixo do input */
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#project-suggestions li {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#project-suggestions li:hover {
    background-color: #f0f0f0;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}