.cls-2[data-v-4bfc9a8c] {
    fill: #00aaf0
}

.st29[data-v-91c831b5],
.st30[data-v-91c831b5] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fff
}

.st30[data-v-91c831b5] {
    fill: #15111d
}

.st41[data-v-91c831b5] {
    fill: #09080e
}

.str0[data-v-bee37d93] {
    stroke: #2db300;
    stroke-width: 20;
    stroke-miterlimit: 22.9256
}

.fil0[data-v-bee37d93] {
    fill: #2db300
}

.st0[data-v-bee37d93],
.st1[data-v-bee37d93] {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e20177
}

.st1[data-v-bee37d93],
.st1[data-v-31c9299e],
.c[data-v-40db0bce] {
    fill: #fff
}

.icon[data-v-9ba4cb7e] {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    height: 1.5rem;
    justify-content: center;
    line-height: 1;
    text-indent: 0;
    transition: color .3s cubic-bezier(.25, .8, .5, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 1.5rem
}

.icon.xLarge[data-v-9ba4cb7e] {
    height: 3rem;
    width: 3rem
}

.icon.large[data-v-9ba4cb7e] {
    height: 2rem;
    width: 2rem
}

.icon.med[data-v-9ba4cb7e] {
    height: 1.25rem;
    width: 1.25rem
}

.icon.small[data-v-9ba4cb7e] {
    height: 1rem;
    width: 1rem
}

.icon.xSmall[data-v-9ba4cb7e] {
    height: .75rem;
    width: .75rem
}

.icon.rel[data-v-9ba4cb7e] {
    height: 1em;
    width: 1em
}

.not-found[data-v-9ba4cb7e] {
    font-style: oblique;
    font-weight: 400;
    opacity: .7;
    width: auto !important
}

.spinner[data-v-0f31f331] {
    animation: spinner-rotate-0f31f331 1.4s linear infinite
}

.line[data-v-0f31f331],
.spinner[data-v-0f31f331] {
    transform-origin: center center
}

.line[data-v-0f31f331] {
    animation: spinner-arc-0f31f331 1.4s ease-in-out infinite;
    transform: rotate(0)
}

@keyframes spinner-rotate-0f31f331 {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spinner-arc-0f31f331 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -15px
    }

    to {
        stroke-dasharray: 100, 200;
        stroke-dashoffset: -113.097px
    }
}

.disabled[data-v-6495c397] {
    cursor: default;
    opacity: .2;
    pointer-events: none
}

.md-btn[data-v-6495c397] {
    cursor: pointer;
    position: relative;
    --opacity: 1;
    transition: filter .1s ease-out, color .1s ease-out, min-width .2s ease-out
}

.md-btn[data-v-6495c397]:before {
    background-color: var(--main-color)
}

.md-btn[data-v-6495c397]:after,
.md-btn[data-v-6495c397]:before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s ease-out
}

.md-btn[data-v-6495c397]:after {
    background: #000;
    opacity: 0
}

.md-btn[data-v-6495c397] {
    color: var(--text-color)
}

.md-btn.text[data-v-6495c397]:not(.soft):before {
    background: transparent
}

.md-btn.text[data-v-6495c397]:not(.soft):after {
    background: #888
}

.md-btn.text.accent[data-v-6495c397] {
    color: currentColor
}

.md-btn.soft[data-v-6495c397] {
    --opacity: .2
}

.md-btn.frosted[data-v-6495c397] {
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    --opacity: .75
}

.md-btn.nami-comi-blue[data-v-6495c397] {
    --main-color: #05aaf0;
    --text-color: #fff
}

.md-btn.nami-comi-blue.text[data-v-6495c397] {
    --text-color: rgb(var(--md-primary))
}

.md-btn.primary[data-v-6495c397] {
    --main-color: rgb(var(--md-primary)/var(--opacity));
    --text-color: #fff
}

.md-btn.primary.text[data-v-6495c397] {
    --text-color: rgb(var(--md-primary))
}

.md-btn.accent[data-v-6495c397] {
    --main-color: rgb(var(--md-button-accent)/var(--opacity));
    --text-color: rgb(var(--color))
}

.md-btn.accent.text[data-v-6495c397] {
    --text-color: rgb(var(--md-button-accent))
}

.md-btn.accent-alt[data-v-6495c397] {
    --main-color: rgb(var(--md-button-accent-alt)/var(--opacity));
    --text-color: rgb(var(--color))
}

.md-btn.accent-alt.text[data-v-6495c397] {
    --text-color: rgb(var(--md-button-accent-alt))
}

.md-btn.danger[data-v-6495c397] {
    --main-color: rgb(var(--md-danger)/var(--opacity));
    --text-color: #fff
}

.md-btn.danger.text[data-v-6495c397] {
    --text-color: rgb(var(--md-danger))
}

.md-btn.status-red[data-v-6495c397] {
    --main-color: rgb(var(--md-status-red)/var(--opacity));
    --text-color: #fff
}

.md-btn.status-red.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-red))
}

.md-btn.status-yellow[data-v-6495c397] {
    --main-color: rgb(var(--md-status-yellow)/var(--opacity));
    --text-color: #fff
}

.md-btn.status-yellow.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-yellow))
}

.md-btn.status-green[data-v-6495c397] {
    --main-color: rgb(var(--md-status-green)/var(--opacity));
    --text-color: #fff
}

.md-btn.status-green.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-green))
}

.md-btn.status-grey[data-v-6495c397] {
    --main-color: rgb(var(--md-status-grey)/var(--opacity));
    --text-color: #000
}

.md-btn.status-grey.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-grey))
}

.md-btn.status-purple[data-v-6495c397] {
    --main-color: rgb(var(--md-status-purple)/var(--opacity));
    --text-color: #fff
}

.md-btn.status-purple.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-purple))
}

.md-btn.status-blue[data-v-6495c397] {
    --main-color: rgb(var(--md-status-blue)/var(--opacity));
    --text-color: #fff
}

.md-btn.status-blue.text[data-v-6495c397] {
    --text-color: rgb(var(--md-status-blue))
}

@media (any-hover:hover) {
    .md-btn[data-v-6495c397]:hover:not(.text):after {
        opacity: .2
    }

    .md-btn:hover.text[data-v-6495c397]:not(.soft):before {
        background: var(--main-color);
        filter: brightness(.85);
        opacity: .35
    }

    .md-btn:hover.soft[data-v-6495c397]:before {
        background: var(--main-color);
        filter: none;
        opacity: .55
    }
}

.md-btn[data-v-6495c397]:active:not(.text):after {
    opacity: .4
}

.md-btn:active.text[data-v-6495c397]:not(.soft):before {
    background: var(--main-color);
    filter: none;
    opacity: .55
}

.md-btn:active.soft[data-v-6495c397]:before {
    background: var(--main-color);
    filter: brightness(.85);
    opacity: .35
}

.glow[data-v-6495c397]:not(.disabled):not(.text) {
    box-shadow: 0 0 24px -8px rgb(var(--main-color))
}

@keyframes fill-6495c397 {
    0% {
        transform: scale(0)
    }

    to {
        transform: scale(3)
    }
}

.hover-animation-shine[data-v-6495c397]:hover:after {
    animation: shine-6495c397 2s ease infinite;
    background: linear-gradient(90deg, #e6ad8f00, #ffffffb3, #e6ad8f00);
    transform: rotate(50deg)
}

@keyframes shine-6495c397 {
    0% {
        left: -100%;
        transition-property: left
    }

    60%,
    to {
        left: 100%;
        transition-property: left
    }
}

.page-container[data-v-0389fa15] {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%
}

.page-container.narrow[data-v-0389fa15] {
    max-width: 556px
}

.page-container.wide[data-v-0389fa15] {
    max-width: 1440px
}

.scrobbler-transition[data-v-35c2009a] {
    transition: width var(--cd0aedc8) cubic-bezier(.2, .6, .1, 1.2), left var(--cd0aedc8) cubic-bezier(.2, .6, .1, 1.2)
}