.tt-container[data-v-5549140f] {
    position: relative
}

.popup[data-v-5549140f] {
    background: rgb(var(--md-background)/.8);
    border-radius: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    max-width: 250px;
    padding: .25rem .75rem;
    position: absolute;
    top: calc(100% + .5rem);
    width: 250px;
    width: -moz-max-content;
    width: max-content;
    z-index: 50
}

.trigger[data-v-5549140f] {
    cursor: help
}

.slide-fade-enter-active[data-v-5549140f],
.slide-fade-leave-active[data-v-5549140f] {
    transition: all .2s ease-out
}

.slide-fade-enter[data-v-5549140f],
.slide-fade-leave-to[data-v-5549140f] {
    opacity: 0;
    top: 100%;
    visibility: hidden
}

.slide-fade-enter-to[data-v-5549140f],
.slide-fade-leave[data-v-5549140f] {
    opacity: 1;
    top: calc(100% + .5rem);
    visibility: visible
}

.transition-label.with-placeholder[data-v-17d188dc] {
    opacity: 0;
    transition-property: opacity, top, font-size
}

.transition-label.populated[data-v-17d188dc] {
    font-size: .75rem;
    line-height: 1rem;
    opacity: 1;
    top: .3125rem
}

.placeholder-text.with-label[data-v-17d188dc] {
    margin-top: -.5rem;
    opacity: 1
}

.placeholder-text[data-v-17d188dc]:not(.populated) {
    transition-duration: .15s;
    transition-property: margin-top, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.placeholder-text.populated[data-v-17d188dc] {
    margin-top: 0
}

.chevron[data-v-17d188dc] {
    transition: transform .15s ease-in-out
}

.chevron.active[data-v-17d188dc] {
    transform: rotate(180deg)
}

.md-select-inner-wrap[data-v-17d188dc] {
    background-color: rgb(var(--md-accent));
    display: inline-flex;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative
}

.md-select-inner-wrap.block[data-v-17d188dc] {
    display: flex;
    min-width: 100%
}

.md-select[data-v-17d188dc] {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-select:focus-within .md-select__border[data-v-17d188dc]:not(.disabled) {
    border-color: rgb(var(--md-primary));
    border-width: 1px;
    opacity: 1
}

.md-select:focus-within .transition-label.with-placeholder.dropdown-open[data-v-17d188dc] {
    opacity: 1
}

.md-select:focus-within .placeholder-text.with-label.dropdown-open[data-v-17d188dc]:not(.populated) {
    margin-top: 0;
    opacity: .4
}

.md-select__border[data-v-17d188dc] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-select__error[data-v-17d188dc] {
    font-size: .75em;
    z-index: -1
}

.md-select__error.has-error[data-v-17d188dc] {
    border-radius: 4px
}

.md-select__error.has-error .md-select__error[data-v-17d188dc] {
    color: rgb(var(--md-status-red))
}

.md-select__error.has-error i[data-v-17d188dc] {
    color: inherit !important
}

.md-select__error.has-error .md-select__border[data-v-17d188dc] {
    border: 2px solid rgb(var(--md-status-red)) !important;
    opacity: 1
}

.md-error[data-v-17d188dc] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-17d188dc] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-17d188dc] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-17d188dc] {
    color: rgb(var(--md-danger))
}

.md-has-error i[data-v-17d188dc] {
    color: inherit !important
}

.md-has-error>.md-select-inner-wrap>.md-select__border[data-v-17d188dc] {
    border: 2px solid rgb(var(--md-primary)) !important;
    opacity: 1
}

.select-button[data-v-17d188dc] {
    align-items: center;
    background-color: rgb(var(--md-accent-10));
    border-radius: 9999px;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    margin: .25rem;
    padding: .25rem .5rem;
    white-space: nowrap
}

.select-button[data-v-17d188dc]:not(.static):hover {
    background-color: rgb(var(--md-accent-10-hover))
}

.text-item-container[data-v-c3aadb04] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    position: relative;
    transition: border .1s ease-in-out
}

.text-item-container[data-v-c3aadb04]:focus-within {
    border: 1px solid rgb(var(--md-primary)) !important
}

.text-item-container.md-has-error[data-v-c3aadb04] {
    border: 1px solid rgb(var(--md-status-red))
}

.inline-input[data-v-c3aadb04]::-webkit-scrollbar {
    display: none
}

.inline-input[data-v-c3aadb04] {
    background-color: transparent;
    outline: none;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%
}

.list-item[data-v-c3aadb04] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    cursor: pointer;
    display: flex;
    gap: .5rem;
    min-width: 100%;
    padding: 4px 8px;
    white-space: nowrap
}

.list-item[data-v-c3aadb04]:hover {
    background-color: rgb(var(--md-accent-hover))
}

.rotating-arrow[data-v-c3aadb04] {
    transition: transform .15s ease-in-out
}

.stealth-error[data-v-c3aadb04] {
    align-items: center;
    color: rgb(var(--md-status-red));
    display: flex;
    font-size: .75em;
    padding-left: .5rem;
    padding-right: .5rem
}

.rotate-180[data-v-c3aadb04] {
    transform: rotate(180deg)
}

.flag-placeholder[data-v-c3aadb04] {
    box-sizing: border-box;
    min-height: 25px;
    min-width: 25px;
    overflow: hidden;
    position: relative
}

.flag-placeholder[data-v-c3aadb04]:after {
    border: 1px dashed;
    border-radius: 2px;
    content: "";
    height: 66.66%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}

.expand-enter-active[data-v-e82d079a],
.expand-leave-active[data-v-e82d079a] {
    backface-visibility: hidden;
    overflow: hidden;
    perspective: 1000px;
    transform: translateZ(0);
    transition: height .25s cubic-bezier(0, 1, 1, 1);
    will-change: height
}

.expand-enter[data-v-e82d079a],
.expand-leave-to[data-v-e82d079a] {
    height: 0
}

.md--toggle-container[data-v-11c6c358] {
    border-radius: .25rem;
    display: flex;
    overflow: hidden
}

.md--toggle-btn[data-v-11c6c358] {
    border-radius: 0;
    height: auto;
    max-width: 100%;
    min-height: 36px;
    padding: 7px 16px !important
}

.list-item[data-v-c62c3791] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    cursor: pointer;
    display: flex;
    gap: .5rem;
    min-width: 100%;
    padding: 4px 8px;
    white-space: nowrap
}

.list-item[data-v-c62c3791]:hover {
    background-color: rgb(var(--md-accent-hover))
}

.label[data-v-c62c3791] {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: .5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem
}

.input-container[data-v-c62c3791] {
    transition: padding .15s ease-in-out
}

.md-has-error[data-v-c62c3791] {
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative
}

.md-has-error[data-v-c62c3791]:before {
    border-color: rgb(var(--md-status-red));
    border-radius: .25rem;
    border-width: 1px;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.stealth-error[data-v-c62c3791] {
    color: rgb(var(--md-status-red));
    font-size: .75em;
    padding-bottom: .5rem
}

.header-subtext[data-v-c62c3791] {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -4px
}

.required[data-v-c62c3791]:after {
    color: rgb(var(--md-status-red));
    content: "*"
}

.arrow[data-v-c62c3791] {
    transition: transform .15s ease-in-out
}

.actions-cover[data-v-b874e907] {
    background-color: rgb(var(--md-background));
    bottom: calc(var(--bottom-nav-area) + 48px);
    margin: 0 calc(var(--side-margin)*-1);
    min-height: 8px;
    padding: 0 var(--side-margin);
    position: sticky;
    z-index: 3
}

@media (min-width:40rem) {
    .actions-cover[data-v-b874e907] {
        bottom: calc(var(--bottom-nav-area) + 72px)
    }
}

.actions[data-v-b874e907] {
    background-color: rgb(var(--md-background));
    bottom: var(--bottom-nav-area);
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 calc(var(--side-margin)*-1);
    padding: .5rem var(--side-margin);
    z-index: 2
}

@media (min-width:40rem) {
    .actions[data-v-b874e907] {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
        padding-top: 1rem
    }
}

.actions[data-v-b874e907]:before {
    background: linear-gradient(transparent, #0003);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%
}