.md-logo-wrap[data-v-b5bb6eb3] {
    display: flex;
    flex-grow: 1;
    height: 36px
}

.md-logo-wordmark[data-v-b5bb6eb3] {
    display: none
}

@media (min-width:328px) {
    .md-logo-wordmark[data-v-b5bb6eb3] {
        display: block
    }
}

ol.about[data-v-e731dab3] {
    margin-left: 1rem
}

ol li[data-v-e731dab3]::marker {
    font-weight: 700
}

ol.about li ol li[data-v-e731dab3] {
    font-size: .875rem;
    line-height: 1.25rem;
    list-style-type: disc;
    list-style-type: circle;
    margin-left: 2rem
}

.announcement[data-v-e6fa4ed1] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    box-shadow: 0 .25rem 1rem #0003;
    display: flex;
    justify-content: space-between;
    padding: .75rem 1rem
}

.announcement.primary[data-v-e6fa4ed1] {
    background-color: rgb(var(--md-primary));
    box-shadow: 0 .25rem 1rem #ff67404d;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.offset-scroll[data-v-e6fa4ed1] {
    margin-top: calc((var(--navbar-height) + var(--top-margin))*-1);
    padding-top: calc(var(--navbar-height) + var(--top-margin))
}

.hover-link>.link[data-v-e6fa4ed1] {
    display: none
}

.hover-link:hover>.link[data-v-e6fa4ed1] {
    display: initial;
    margin-right: .5rem
}

.check[data-v-1a798d39] {
    animation: growCheckmark-1a798d39 .3s ease-out forwards
}

.cross[data-v-1a798d39] {
    animation: growCross-1a798d39 .3s ease-out forwards
}

@keyframes growCheckmark-1a798d39 {
    0% {
        d: path("M 4,10 L 4,10 L 4,10")
    }

    50% {
        d: path("M 4,10 L 9,15 L 9,15")
    }

    to {
        d: path("M 4,10 L 9,15 L 16,6")
    }
}

@keyframes growCross-1a798d39 {
    0% {
        d: path("M 4,4 L 4,4")
    }

    50% {
        d: path("M 4,4 L 16,16 M 16,4 L 16,4")
    }

    to {
        d: path("M 4,4 L 16,16 M 16,4 L 4,16")
    }
}

.author-card[data-v-0b6b05b3] {
    background: rgb(var(--md-accent));
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: background .1s ease-out
}

@media (any-hover:hover) {
    .author-card[data-v-0b6b05b3]:hover {
        background: rgb(var(--md-accent-hover))
    }
}

.author-card[data-v-0b6b05b3]:active {
    background: rgb(var(--md-accent-active))
}

.author-head[data-v-0b6b05b3] {
    align-items: center;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: flex;
    font-weight: 500;
    padding: .5rem
}

.author-avatar[data-v-0b6b05b3] {
    border-radius: 9999px;
    border-width: 1px;
    margin-right: .5rem;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity, 1));
    height: 32px;
    width: 32px
}

.avatar__subtext[data-v-0b6b05b3] {
    border-radius: 50px;
    flex-shrink: 0;
    font-size: x-small;
    margin-left: auto;
    overflow: hidden;
    padding: 2px 8px;
    text-overflow: ellipsis;
    white-space: nowrap
}

img[data-v-493143d5] {
    border-radius: 16px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.button-accent[data-v-9c88fd89] {
    background-color: rgb(var(--md-accent));
    border-top-right-radius: .25rem;
    clip-path: polygon(calc(100% - 90px) -1px, calc(100% + 1px) 90px, calc(100% + 1px) -1px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.author-tag[data-v-e827d09f] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    display: flex;
    font-size: .75rem;
    gap: .125rem;
    line-height: 1rem;
    padding: .125rem .25rem;
    white-space: nowrap
}

@media (min-width:40rem) {
    .author-tag[data-v-e827d09f] {
        font-size: .875rem;
        line-height: 1.25rem
    }
}

@media (min-width:64rem) {
    .author-tag[data-v-e827d09f] {
        font-size: 1rem;
        line-height: 1.5rem
    }
}

.author-tag.hover-effects[data-v-e827d09f]:hover {
    background-color: rgb(var(--md-accent-hover))
}

.author-dropdown[data-v-e827d09f] {
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .25rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 4;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.author-dropdown>.author-tag[data-v-e827d09f] {
    display: inline-flex;
    margin: 0
}

.header[data-v-e827d09f] {
    font-weight: 500;
    margin-top: 20px
}

.header[data-v-e827d09f],
.header-subtext[data-v-e827d09f] {
    font-size: 16px;
    margin-bottom: 16px
}

.header-subtext[data-v-e827d09f] {
    font-weight: 400;
    margin-top: -4px
}

.header.required[data-v-e827d09f] {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 24px
}

.header.required[data-v-e827d09f]:after {
    color: rgb(var(--md-status-red));
    content: "*"
}

.disabled[data-v-e827d09f] {
    opacity: .4;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.chip[data-v-7caf0726] {
    background-color: rgb(var(--md-accent));
    border: 1px solid transparent;
    border-radius: .25rem;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    transition: background .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    word-break: keep-all
}

.include[data-v-7caf0726] {
    background-color: rgb(var(--md-primary));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.exclude[data-v-7caf0726] {
    border-color: rgb(var(--md-primary))
}

.wrap[data-v-3e352508] {
    border: none !important;
    border-radius: .25rem;
    padding: 0;
    position: relative
}

.wrap[data-v-3e352508]:before {
    display: none
}

.censor[data-v-3e352508] {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    z-index: 1
}

.censor>img[data-v-3e352508] {
    height: 80%;
    width: auto
}

.censored[data-v-3e352508] {
    position: relative
}

.censored[data-v-3e352508]:after {
    background-color: rgb(var(--md-accent));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

@supports (filter:blur()) {
    .censored[data-v-3e352508] {
        filter: blur(30px)
    }

    .censored[data-v-3e352508]:after {
        content: none
    }
}

.blur-transition[data-v-3e352508] {
    transition-duration: .15s;
    transition-property: filter;
    transition-timing-function: ease-in-out
}

.close[data-v-3e352508] {
    align-items: center;
    background-color: rgb(var(--md-accent-10));
    border-radius: 9999px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: absolute;
    right: -.25rem;
    top: -.25rem;
    width: 1.5rem;
    z-index: 2
}

.relation-type[data-v-3e352508] .md-select-inner-wrap {
    width: 100%
}

.stealth-error[data-v-3e352508] {
    align-items: center;
    color: rgb(var(--md-status-red));
    display: flex;
    font-size: .75em;
    padding-left: .5rem;
    padding-right: .5rem
}

.label[data-v-665837bd] {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: .5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem
}

.header[data-v-665837bd] {
    font-size: 16px;
    font-weight: 500
}

.header-subtext[data-v-665837bd] {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -4px
}

.header.required[data-v-665837bd]:after {
    color: rgb(var(--md-status-red));
    content: "*"
}

.button-outline[data-v-665837bd] {
    border: 1px dashed;
    border-color: currentColor;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%
}

.arrow[data-v-665837bd] {
    margin-left: .5rem;
    transition: transform .15s ease-in-out
}

.stealth-error[data-v-665837bd] {
    color: rgb(var(--md-status-red));
    font-size: .75em;
    padding-bottom: .5rem
}

.input-container[data-v-665837bd] {
    transition: padding .15s ease-in-out
}

.md-has-error[data-v-665837bd] {
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative
}

.md-has-error[data-v-665837bd]:before {
    border-color: rgb(var(--md-status-red));
    border-radius: .25rem;
    border-width: 1px;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.wrap[data-v-f76e628c] {
    border: none !important;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    display: flex;
    flex-direction: column
}

.wrap[data-v-f76e628c]:before {
    display: none
}

.list-item[data-v-f76e628c] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    cursor: pointer;
    display: flex;
    gap: .5rem;
    min-width: 100%;
    padding: 4px 8px;
    white-space: nowrap
}

.list-item[data-v-f76e628c]:hover {
    background-color: rgb(var(--md-accent-hover))
}

.page-preview-button[data-v-f76e628c] {
    background-color: rgb(var(--md-accent));
    border-radius: 9999px;
    opacity: .7;
    padding: .5rem;
    transition-duration: 75ms;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.page-sizer[data-v-f76e628c] {
    padding-bottom: 141.53846%;
    position: relative;
    width: 100%
}

.page-sizer.compact[data-v-f76e628c] {
    padding-bottom: 64px
}

.page[data-v-f76e628c] {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: all .15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%
}

.page:hover>.page-preview-button[data-v-f76e628c] {
    opacity: 1
}

.page.compact[data-v-f76e628c] {
    height: 64px
}

.page.compact>.middle[data-v-f76e628c] {
    height: 16px;
    left: 8px;
    right: 8px;
    top: 8px;
    transform: none;
    width: auto
}

.page.placeholder[data-v-f76e628c] {
    border: 1px dashed #4d4d4d;
    border-radius: .25rem
}

.page.placeholder[data-v-f76e628c]:hover {
    background-color: rgb(var(--md-accent))
}

.page>.label[data-v-f76e628c] {
    background-color: #494949;
    border-radius: 11px;
    bottom: 4px;
    color: #fff;
    font-size: .75rem;
    left: 4px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    padding: 2px 8px;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1
}

.page>.close[data-v-f76e628c],
.page>.error-icon[data-v-f76e628c] {
    align-items: center;
    background-color: rgb(var(--md-accent-10));
    border-radius: 9999px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    position: absolute;
    right: -.25rem;
    top: -.25rem;
    width: 1.5rem
}

.page>.error-icon[data-v-f76e628c] {
    background-color: rgb(var(--md-danger));
    height: 24px;
    left: -4px;
    right: auto;
    width: 24px
}

.preview[data-v-f76e628c] {
    max-height: 100%;
    max-width: 100%
}

.volume-accent[data-v-f76e628c] {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .8));
    bottom: 0;
    color: #fff;
    display: -webkit-box;
    left: 0;
    overflow: hidden;
    padding: 1rem 2.5rem .25rem .5rem;
    position: absolute;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-all
}

[data-v-f76e628c] .volume-flag {
    bottom: .25rem;
    position: absolute;
    right: .5rem
}

.main-star[data-v-f76e628c] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    display: flex;
    height: 1.5rem;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 1.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    border-bottom-right-radius: 4px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.volume-edit[data-v-f76e628c] {
    border-radius: 0 0 2px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.volume-num[data-v-f76e628c] .md-inputwrap {
    border-radius: 0 0 0 2px !important;
    width: calc(100% - 40px)
}

.stealth-error[data-v-f76e628c] {
    align-items: center;
    color: rgb(var(--md-status-red));
    display: flex;
    font-size: .75em;
    padding-bottom: .5rem
}

.label[data-v-90f359e4] {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    gap: .5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
    padding-top: .5rem
}

.input-container[data-v-90f359e4] {
    transition: padding .15s ease-in-out
}

.md-has-error[data-v-90f359e4] {
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    position: relative
}

.md-has-error[data-v-90f359e4]:before {
    border: 1px solid rgb(var(--md-status-red));
    border-radius: .25rem;
    content: "";
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.header[data-v-90f359e4] {
    font-size: 16px;
    font-weight: 500
}

.header-subtext[data-v-90f359e4] {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -4px
}

.header.required[data-v-90f359e4] {
    font-size: 16px;
    font-weight: 500
}

.header.required[data-v-90f359e4]:after {
    color: rgb(var(--md-status-red));
    content: "*"
}

.arrow[data-v-90f359e4] {
    margin-left: .5rem;
    transition: transform .15s ease-in-out
}

.rotate-180[data-v-90f359e4] {
    transform: rotate(180deg)
}

.stealth-error[data-v-90f359e4] {
    color: rgb(var(--md-status-red));
    font-size: .75em;
    padding-bottom: .5rem
}

.button-menu[data-v-bb10d586] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: auto
}

@media (min-width:40rem) {
    .button-menu[data-v-bb10d586] {
        align-self: flex-start;
        flex-shrink: 0;
        margin: .5rem 0 0;
        padding: 0;
        position: sticky;
        top: calc(var(--navbar-height) + 16px)
    }
}

.header[data-v-bb10d586] {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 20px
}

.header-required.no-top[data-v-bb10d586],
.header.no-top[data-v-bb10d586] {
    margin-top: 0
}

.header-subtext[data-v-bb10d586] {
    font-weight: 400;
    margin-top: -4px
}

.header-required[data-v-bb10d586],
.header-subtext[data-v-bb10d586] {
    font-size: 16px;
    margin-bottom: 16px
}

.header-required[data-v-bb10d586] {
    font-weight: 500;
    margin-top: 24px
}

.header-required[data-v-bb10d586]:after {
    color: rgb(var(--md-status-red));
    content: "*"
}

.vol-ch[data-v-bb10d586] {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

@media only screen and (max-width:319px) {
    .vol-ch[data-v-bb10d586] {
        grid-template-columns: none;
        grid-template-rows: repeat(2, minmax(0, 1fr))
    }
}

.warning[data-v-bb10d586] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border: 1px solid rgb(var(--md-status-red));
    border-radius: .25rem;
    color: rgb(var(--md-status-red));
    display: inline-flex;
    gap: .5rem;
    margin-left: auto;
    padding: .25rem .5rem;
    position: sticky;
    top: 72px;
    z-index: 10;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.nw-container[data-v-5d645134] {
    background: radial-gradient(ellipse at bottom, #1b2735 0, #030c18);
    height: 100%;
    margin: 0;
    min-width: 100%;
    padding-top: 1rem
}

.group-card[data-v-cf6e5517] {
    background: rgb(var(--md-accent));
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: background .1s ease-out
}

@media (any-hover:hover) {
    .group-card[data-v-cf6e5517]:hover {
        background: rgb(var(--md-accent-hover))
    }
}

.group-card[data-v-cf6e5517]:active {
    background: rgb(var(--md-accent-active))
}

.group-head[data-v-cf6e5517] {
    align-items: center;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: flex;
    font-weight: 500;
    padding: .5rem
}

.group-avatar[data-v-cf6e5517] {
    border-radius: 9999px;
    border-width: 1px;
    margin-right: .5rem;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity, 1))
}

.group-stats[data-v-cf6e5517] {
    display: flex;
    font-size: .75rem;
    line-height: 1rem
}

.group-follow[data-v-cf6e5517] {
    align-items: center;
    border-color: rgb(var(--md-primary));
    border-radius: .25rem;
    border-width: 1px;
    display: flex;
    font-size: .625rem;
    font-weight: 700;
    margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
    padding-left: .25rem;
    padding-right: .25rem;
    text-transform: uppercase
}

.group-card-list .group-card[data-v-cf6e5517] {
    flex-direction: row
}

.group-card-list .group-head[data-v-cf6e5517] {
    background-color: transparent;
    border-radius: 0;
    margin-right: auto
}

.group-card-list .group-follow[data-v-cf6e5517] {
    margin-left: 0
}

.banner-bg[data-v-eaa8ed75] {
    background: linear-gradient(to bottom, rgb(var(--md-background)/.6), rgb(var(--md-background)))
}

.preview-description[data-v-eaa8ed75] {
    min-height: 0;
    overflow: auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.preview-description[data-v-eaa8ed75]::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    display: none
}

.preview-description[data-v-eaa8ed75]:hover {
    -ms-overflow-style: initial;
    scrollbar-width: auto
}

.preview-description[data-v-eaa8ed75]:hover::-webkit-scrollbar-thumb {
    display: initial
}

.swiper[data-v-9c019e7a],
.swiper-wrapper[data-v-9c019e7a] {
    z-index: auto
}

.carousel-nav[data-v-9c019e7a] {
    --carousel-nav-padding: .5rem;
    --carousel-nav-height: 28px;
    --carousel-nav-area: calc(var(--carousel-nav-height) + var(--carousel-nav-padding)*2);
    --manga-banner-height: calc(14rem + var(--carousel-nav-area) + var(--navbar-height) + 28px);
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: var(--carousel-nav-padding) var(--side-margin) 0;
    position: absolute;
    width: 100%;
    z-index: 3
}

.carousel-number[data-v-9c019e7a] {
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden;
    padding: .25rem;
    position: relative;
    width: 2.5rem
}

.carousel-number>div[data-v-9c019e7a] {
    font-size: .75rem;
    letter-spacing: .025em;
    line-height: 1rem
}

.carousel-number>div>span[data-v-9c019e7a]:first-child {
    margin-left: -2px
}

.carousel-button[data-v-9c019e7a] {
    align-items: center;
    background-color: rgb(var(--md-contrast-1));
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    font-size: calc(var(--carousel-nav-height)*.9);
    height: var(--carousel-nav-height);
    justify-content: center;
    opacity: .6;
    padding: .25rem;
    width: var(--carousel-nav-height)
}

.carousel-button[data-v-9c019e7a]:active {
    opacity: 1
}

.carousel-button>.icon[data-v-9c019e7a] {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity, 1))
}

.ann-swiper[data-v-22b31269] .swiper-slide {
    display: flex;
    height: auto;
    padding: 1rem .5rem
}

.ann-swiper[data-v-22b31269] .swiper-slide>* {
    flex-grow: 1
}

.hide-edges[data-v-22b31269] {
    position: relative
}

.hide-edges[data-v-22b31269]:after,
.hide-edges[data-v-22b31269]:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: var(--side-margin);
    z-index: 2
}

.hide-edges[data-v-22b31269]:before {
    background: linear-gradient(90deg, rgb(var(--md-background)), rgb(var(--md-background)/0));
    left: 0
}

.hide-edges[data-v-22b31269]:after {
    background: linear-gradient(-90deg, rgb(var(--md-background)), rgb(var(--md-background)/0));
    right: 0
}

.timestamp[data-v-d14535ab] {
    align-self: center;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: right;
    white-space: nowrap
}

.link[data-v-40ce6c0c],
.link[data-v-fabf0ef6],
.link[data-v-999669da],
.link[data-v-8be90a22] {
    color: inherit;
    text-decoration: none
}

.link[data-v-9bac373c] {
    color: inherit;
    margin-top: .5rem;
    text-decoration: none
}

.col-5[data-v-4e542ae3] {
    grid-template-columns: 1fr max-content 1fr max-content 1fr
}

.link[data-v-4e542ae3] {
    align-items: center;
    color: inherit;
    display: flex;
    flex-wrap: nowrap;
    padding: .25rem;
    text-decoration: none
}

.link[data-v-5318fbc6] {
    color: inherit;
    text-decoration: none
}

.swiper-pagination-bullet {
    background-color: #808080e6
}

.swiper-pagination-bullet-active {
    background-color: rgb(var(--md-primary)) !important
}

.group__header[data-v-af4a1c84] {
    padding: 0 16px
}

.group__header .header__background[data-v-af4a1c84] {
    background-size: cover;
    background: linear-gradient(67.81deg, rgb(var(--md-primary)) 35.51%, transparent 100%) 50%;
    border-top-left-radius: .25rem;
    height: 90px;
    margin: 0 -16px;
    opacity: .64;
    width: calc(100% + 32px)
}

.group__header .header__info[data-v-af4a1c84] {
    align-items: flex-end;
    display: flex;
    gap: 16px;
    grid-gap: 16px;
    margin-top: -24px
}

.group__header .header__info .info__icon[data-v-af4a1c84] {
    border: 1px solid #fff;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    z-index: 1
}

.group__header .header__info .info__name[data-v-af4a1c84] {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px
}

.group__details[data-v-af4a1c84] {
    display: flex;
    gap: 16px;
    grid-gap: 16px;
    margin-top: 12px
}

.group__details .details__users[data-v-af4a1c84] {
    display: flex
}

.group__details .details__users .user[data-v-af4a1c84] {
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 100%;
    display: none;
    height: 24px;
    width: 24px
}

.group__details .details__users .user[data-v-af4a1c84]:first-of-type {
    display: block;
    transform: translate(0)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(2) {
    display: block;
    transform: translate(-8px)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(3) {
    display: block;
    transform: translate(-16px)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(4) {
    display: block;
    transform: translate(-24px)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(5) {
    display: block;
    transform: translate(-32px)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(6) {
    display: block;
    transform: translate(-40px)
}

.group__details .details__users .user[data-v-af4a1c84]:nth-of-type(7) {
    display: block;
    margin-right: -48px;
    transform: translate(-48px)
}

.group__details .details__members[data-v-af4a1c84] {
    border-color: rgb(var(--md-accent-50));
    border-radius: 4px;
    border-width: 1px;
    margin-left: auto;
    padding: 4px
}

.group__details .details__likes[data-v-af4a1c84],
.group__details .details__members[data-v-af4a1c84] {
    align-items: center;
    display: flex;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px
}

.group__details .details__likes[data-v-af4a1c84] {
    border-color: rgb(var(--md-primary));
    border-radius: .25rem;
    border-width: 1px;
    color: #000;
    padding: .25rem
}

.new-button[data-v-5da55e4c] {
    border: 1px dashed;
    border-color: currentColor;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%
}

.copied[data-v-ad4f55a3] {
    font-weight: 500;
    height: calc(100% - 2px);
    left: 1px;
    position: absolute;
    top: 1px;
    width: calc(100% - 2px);
    z-index: 9
}

.copied[data-v-ad4f55a3],
.manga__list[data-v-ad4f55a3] {
    background-color: rgb(var(--md-accent))
}

.manga__list[data-v-ad4f55a3] {
    padding: 1rem
}

.list__name[data-v-ad4f55a3] {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.list__user[data-v-ad4f55a3] {
    display: flex;
    gap: 8px;
    grid-gap: 8px
}

.list__follows[data-v-ad4f55a3] {
    border-radius: 100px;
    display: inline-block;
    padding: 2px 6px
}

.list__follows>span[data-v-ad4f55a3] {
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase
}

.list__visibility[data-v-ad4f55a3] {
    margin: 2px 0
}

.list__manga[data-v-ad4f55a3] {
    display: flex;
    gap: 8px;
    grid-gap: 8px;
    margin-top: 16px;
    overflow-x: auto;
    overflow-y: hidden
}

.list__manga[data-v-ad4f55a3]>* {
    flex-grow: 0;
    flex-shrink: 0
}

.user__icon[data-v-ad4f55a3] {
    background-position: 50%;
    background-size: cover;
    border-radius: 100%;
    height: 16px;
    width: 16px
}

.user__name[data-v-ad4f55a3] {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px
}

.manga__cover[data-v-ad4f55a3] {
    height: 104px;
    width: 72px
}

.private[data-v-ad4f55a3] {
    align-items: center;
    border-color: rgb(var(--md-status-red));
    border-radius: 4px;
    border-width: 1px;
    color: rgb(var(--md-status-red));
    display: inline-flex;
    font-size: x-small;
    font-weight: 700;
    line-height: 15px;
    margin-left: auto;
    padding: 2px 4px
}

.new-button[data-v-7272a4ca] {
    border: 1px dashed;
    border-color: currentColor;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%
}

.report[data-v-3859017f] {
    grid-template-areas: "options details time";
    grid-template-columns: var(--options-size) var(--details-size) var(--time-size)
}

@media (min-width:40rem) {
    .report[data-v-3859017f] {
        grid-template-areas: "options category details status time";
        grid-template-columns: var(--options-size) var(--category-size) var(--details-size) var(--status-size) var(--time-size)
    }
}

@media (min-width:48rem) {
    .report[data-v-3859017f] {
        grid-template-areas: "options category reason details status time";
        grid-template-columns: var(--options-size) var(--category-size) var(--reason-size-small) var(--details-size) var(--status-size) var(--time-size)
    }
}

@media (min-width:64rem) {
    .report[data-v-3859017f] {
        grid-template-areas: "options category reason details status time";
        grid-template-columns: var(--options-size) var(--category-size) var(--reason-size-large) var(--details-size) var(--status-size) var(--time-size)
    }
}

.report[data-v-3859017f] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    cursor: pointer;
    display: grid;
    gap: .5rem;
    padding: .25rem .5rem;
    --status-color: rgb(var(--md-accent));
    --status-thickness: 2px;
    background: linear-gradient(90deg, var(--status-color) 0, var(--status-color) var(--status-thickness), rgb(var(--md-accent)) var(--status-thickness))
}

.report.green[data-v-3859017f] {
    --status-color: rgb(var(--md-status-green))
}

.report.yellow[data-v-3859017f] {
    --status-color: rgb(var(--md-status-yellow))
}

.report.red[data-v-3859017f] {
    --status-color: rgb(var(--md-status-red))
}

.report[data-v-3859017f]:hover {
    filter: brightness(90%)
}

.report-options[data-v-3859017f] {
    align-items: center;
    display: flex;
    grid-area: options
}

.report-category[data-v-3859017f] {
    grid-area: category
}

.report-category[data-v-3859017f],
.report-reason[data-v-3859017f] {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all
}

.report-reason[data-v-3859017f] {
    grid-area: reason
}

.report-details[data-v-3859017f] {
    display: -webkit-box;
    grid-area: details;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all
}

.report-status[data-v-3859017f] {
    grid-area: status
}

.report-time[data-v-3859017f] {
    grid-area: time;
    white-space: nowrap
}

.report.details[data-v-3859017f] {
    grid-template-areas: "category options" "reason reason" "details details" "time status";
    grid-template-columns: auto var(--status-size);
    padding-left: 1rem;
    --status-thickness: 4px
}

.report.details>.report-options[data-v-3859017f] {
    align-items: center;
    display: flex;
    margin-left: auto
}

.report.details>.report-category[data-v-3859017f] {
    display: block !important
}

.report.details>.report-category[data-v-3859017f]:before {
    content: "Category: ";
    font-weight: 700
}

.report.details>.report-status[data-v-3859017f] {
    display: block !important;
    margin-left: auto
}

.report.details>.report-reason[data-v-3859017f] {
    display: block !important
}

.report.details>.report-reason[data-v-3859017f]:before {
    content: "Reason: ";
    font-weight: 700
}

.report.details>.report-reason[data-v-3859017f] {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1
}

.report.details>.report-details[data-v-3859017f]:before {
    content: "Details";
    display: block;
    font-weight: 700
}

.report.details>.report-details[data-v-3859017f] {
    display: -webkit-box;
    min-height: 120px;
    overflow: hidden;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5
}

.report.details>.report-time[data-v-3859017f] {
    margin-left: auto;
    white-space: nowrap
}

.filter-grid[data-v-a3591fa1] {
    align-items: center;
    display: grid;
    gap: .5rem;
    grid-template-columns: 140px auto
}

.report-table[data-v-aae729ac] {
    --options-size: 72px;
    --details-size: minmax(0, 1fr);
    --category-size: 72px;
    --reason-size-small: 160px;
    --reason-size-large: 200px;
    --time-size: 120px;
    --status-size: 110px
}

.report-header[data-v-aae729ac] {
    grid-template-columns: var(--options-size) var(--details-size) var(--time-size)
}

@media (min-width:40rem) {
    .report-header[data-v-aae729ac] {
        grid-template-columns: var(--options-size) var(--category-size) var(--details-size) var(--status-size) var(--time-size)
    }
}

@media (min-width:48rem) {
    .report-header[data-v-aae729ac] {
        grid-template-columns: var(--options-size) var(--category-size) var(--reason-size-small) var(--details-size) var(--status-size) var(--time-size)
    }
}

@media (min-width:64rem) {
    .report-header[data-v-aae729ac] {
        grid-template-columns: var(--options-size) var(--category-size) var(--reason-size-large) var(--details-size) var(--status-size) var(--time-size)
    }
}

.report-header[data-v-aae729ac] {
    padding: .25rem .5rem
}

.filter-grid[data-v-aae729ac],
.report-header[data-v-aae729ac] {
    align-items: center;
    display: grid;
    gap: .5rem
}

.filter-grid[data-v-aae729ac] {
    grid-template-columns: 140px auto
}

.rule-section[data-v-ade356c1] {
    font-size: 1.25rem;
    padding-top: 2rem
}

.rule-section[data-v-ade356c1],
.rule-subsection[data-v-ade356c1] {
    font-family: Spartan, sans-serif;
    font-weight: 700;
    line-height: 1.75rem
}

.rule-subsection[data-v-ade356c1] {
    font-size: 1.125rem;
    padding-top: 1rem
}

ol[data-v-ade356c1],
ol.rules[data-v-ade356c1] {
    margin-left: 2rem
}

ol.rules[data-v-ade356c1],
ol.rules ol[data-v-ade356c1] {
    counter-reset: item
}

ol.rules ol li[data-v-ade356c1]::marker {
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    line-height: 1.5rem
}

ol.rules li[data-v-ade356c1]::marker {
    content: counters(item, ".") " ";
    font-weight: 700
}

ol.rules li[data-v-ade356c1] {
    counter-increment: item
}

.dense-manga-container[data-v-00ce46ca] {
    background: rgb(var(--md-accent));
    border-radius: .25rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    grid-template-areas: "cover title" "cover stats" "cover status";
    grid-template-columns: 56px auto;
    padding: .375rem;
    transition: background .1s ease-out
}

@media (any-hover:hover) {
    .dense-manga-container[data-v-00ce46ca]:hover {
        background: rgb(var(--md-accent-hover))
    }
}

.dense-manga-container[data-v-00ce46ca]:active {
    background: rgb(var(--md-accent-active))
}

.cover[data-v-00ce46ca] {
    grid-area: cover;
    max-height: 80px;
    min-height: 80px
}

.banner[data-v-00ce46ca] {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    overflow: hidden;
    top: 0
}

.banner[data-v-00ce46ca],
.banner[data-v-00ce46ca]:after {
    height: 100%;
    position: absolute;
    width: 100%
}

.banner[data-v-00ce46ca]:after {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: linear-gradient(67.81deg, rgba(0, 0, 0, .64) 35.51%, transparent);
    content: ""
}

.dense-group-container[data-v-af21464f] {
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    display: flex;
    gap: .5rem;
    overflow: hidden;
    padding: .5rem;
    position: relative
}

.avatar[data-v-af21464f] {
    align-self: flex-start;
    border: 1px solid;
    border-color: currentColor;
    border-radius: 9999px;
    max-width: 60px;
    z-index: 2
}

.banner[data-v-af21464f] {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    overflow: hidden;
    top: 0
}

.banner[data-v-af21464f],
.banner[data-v-af21464f]:after {
    height: 100%;
    position: absolute;
    width: 100%
}

.banner[data-v-af21464f]:after {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: linear-gradient(67.81deg, rgba(0, 0, 0, .64) 35.51%, transparent);
    border-radius: .25rem;
    content: "";
    overflow: hidden
}

.setting-box[data-v-4ebb2e22] {
    border-bottom: 1px solid;
    border-color: rgb(var(--md-accent-20));
    margin-top: calc(var(--navbar-height)*-1 - 16px);
    padding-bottom: 1rem;
    padding-top: calc(var(--navbar-height) + 16px)
}

.group-container[data-v-17ac07d3] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    padding-right: .5rem
}

.group-container.added[data-v-17ac07d3] {
    border-color: rgb(var(--md-primary));
    border-width: 1px
}

.group-container.disabled[data-v-17ac07d3] {
    cursor: not-allowed
}

.transition-label.with-placeholder[data-v-ecad09aa] {
    opacity: 0;
    transition-property: opacity, top, font-size
}

.transition-label.populated[data-v-ecad09aa] {
    font-size: .75rem;
    line-height: 1rem;
    opacity: 1;
    top: .3125rem
}

.placeholder-text.with-label[data-v-ecad09aa] {
    margin-top: -.5rem;
    opacity: 1
}

.placeholder-text[data-v-ecad09aa]:not(.populated) {
    transition-duration: .15s;
    transition-property: margin-top, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.placeholder-text.populated[data-v-ecad09aa] {
    margin-top: 0
}

.chevron[data-v-ecad09aa] {
    transition: transform .15s ease-in-out
}

.chevron.active[data-v-ecad09aa] {
    transform: rotate(180deg)
}

.md-select-inner-wrap[data-v-ecad09aa] {
    background-color: rgb(var(--md-accent));
    display: inline-flex;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative
}

.md-select-inner-wrap.block[data-v-ecad09aa] {
    display: flex;
    min-width: 100%
}

.md-select[data-v-ecad09aa] {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.md-select:focus-within .md-select__border[data-v-ecad09aa]:not(.disabled) {
    border: 1px solid rgb(var(--md-primary));
    opacity: 1
}

.md-select:focus-within .transition-label.with-placeholder.dropdown-open[data-v-ecad09aa] {
    opacity: 1
}

.md-select:focus-within .placeholder-text.with-label.dropdown-open[data-v-ecad09aa]:not(.populated) {
    margin-top: 0;
    opacity: .4
}

.md-select__border[data-v-ecad09aa] {
    border-radius: inherit;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-out;
    width: 100%
}

.md-select__error[data-v-ecad09aa] {
    font-size: .75em;
    z-index: -1
}

.md-select__error.has-error[data-v-ecad09aa] {
    border-radius: 4px
}

.md-select__error.has-error .md-select__error[data-v-ecad09aa] {
    color: rgb(var(--md-status-red))
}

.md-select__error.has-error i[data-v-ecad09aa] {
    color: inherit !important
}

.md-select__error.has-error .md-select__border[data-v-ecad09aa] {
    border: 2px solid rgb(var(--md-status-red)) !important;
    opacity: 1
}

.md-error[data-v-ecad09aa] {
    font-size: .75em;
    z-index: -1
}

.md-error-wrap[data-v-ecad09aa] {
    min-height: 1.1em;
    overflow: hidden
}

.md-has-error[data-v-ecad09aa] {
    border-radius: 4px
}

.md-has-error .md-error[data-v-ecad09aa] {
    color: rgb(var(--md-danger))
}

.md-has-error i[data-v-ecad09aa] {
    color: inherit !important
}

.md-has-error>.md-select-inner-wrap>.md-select__border[data-v-ecad09aa] {
    border: 2px solid #ff4040 !important;
    opacity: 1
}

.select-button[data-v-ecad09aa] {
    align-items: center;
    background-color: rgb(var(--md-accent-10));
    border-radius: 9999px;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
    margin: .25rem;
    padding: .25rem .5rem;
    white-space: nowrap
}

.select-button[data-v-ecad09aa]:not(.static):hover {
    background-color: rgb(var(--md-accent-10-hover))
}

.md-sus-modal[data-v-0c5199ea] {
    align-items: center;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: #0006;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999
}

.md-sus-modal section[data-v-0c5199ea] {
    border-color: rgb(var(--md-accent-20))
}

.md-sus-modal__content[data-v-0c5199ea] {
    background-color: rgb(var(--md-background));
    border-radius: .25rem;
    margin: calc(var(--side-margin)/2);
    max-height: calc(100% - var(--side-margin));
    max-width: calc(100% - var(--side-margin));
    overflow: auto;
    padding: 1rem
}

@media (min-width:48rem) {
    .md-sus-modal__content[data-v-0c5199ea] {
        max-width: 75%;
        min-width: 480px
    }
}

.disabled[data-v-462db4db] {
    opacity: .5;
    pointer-events: none
}

.md-switch-wrapper[data-v-462db4db] {
    align-items: center;
    display: flex
}

.md-switch[data-v-462db4db] {
    height: 20px;
    min-height: 20px;
    min-width: 40px;
    width: 40px
}

.md-switch.small[data-v-462db4db] {
    height: 16px;
    min-height: 16px;
    min-width: 32px;
    width: 32px
}

.md-switch.large[data-v-462db4db] {
    height: 24px;
    min-height: 24px;
    min-width: 48px;
    width: 48px
}

.md-switch[data-v-462db4db] {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative
}

.md-switch[data-v-462db4db]:before {
    background-color: rgb(var(--md-accent));
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.md-switch[data-v-462db4db]:after,
.md-switch[data-v-462db4db]:before {
    border-radius: 9999px;
    content: " ";
    transition: all .1s ease-out
}

.md-switch[data-v-462db4db]:after {
    background-color: rgb(var(--md-accent-20));
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%
}

.md-switch.toggled[data-v-462db4db]:after {
    left: 50%
}

.md-switch.constant[data-v-462db4db]:after,
.md-switch.constant[data-v-462db4db]:before,
.md-switch.toggled[data-v-462db4db]:after,
.md-switch.toggled[data-v-462db4db]:before {
    background-color: rgb(var(--md-primary))
}

.button-menu[data-v-49146ec3] {
    display: flex;
    gap: .5rem;
    overflow: auto
}

@media (min-width:40rem) {
    .button-menu[data-v-49146ec3] {
        align-self: flex-start;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        position: sticky;
        top: calc(var(--navbar-height) + 16px)
    }
}

.settings-container[data-v-49146ec3] {
    flex-grow: 1
}

.settings-container[data-v-49146ec3]>:not(:last-child) {
    border-bottom: 1px solid;
    border-color: rgb(var(--md-accent-20));
    margin-bottom: .5rem
}

.separator[data-v-49146ec3] {
    align-self: stretch;
    background-color: rgb(var(--md-accent));
    height: 1px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: auto
}

@media (min-width:40rem) {
    .separator[data-v-49146ec3] {
        height: auto;
        margin: 0 1rem;
        width: 1px
    }
}

.actions[data-v-49146ec3] {
    background-color: rgb(var(--md-background));
    bottom: var(--bottom-nav-area);
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 calc(var(--side-margin)*-1);
    padding: .5rem var(--side-margin);
    position: sticky;
    z-index: 2
}

@media (min-width:40rem) {
    .actions[data-v-49146ec3] {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
        padding-top: 1rem
    }
}

.actions[data-v-49146ec3]:before {
    background: linear-gradient(transparent, #0003);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%
}

.actions[data-v-81407c48] {
    background-color: rgb(var(--md-accent));
    bottom: var(--bottom-nav-area);
    margin: 0 calc(var(--side-margin)*-1);
    padding: 1rem .5rem;
    position: sticky;
    z-index: 2
}

.actions[data-v-81407c48]:before {
    background: linear-gradient(transparent, #0003);
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%
}

@keyframes show-290835a7 {
    0% {
        opacity: 0;
        transform: translateY(-1rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

input[data-v-de36b068]::-webkit-inner-spin-button,
input[data-v-de36b068]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number][data-v-de36b068] {
    -moz-appearance: textfield
}

.expander[data-v-c84f1bc6] {
    transition: grid-template-rows .15s ease
}

.manga-draft-container[data-v-fc1135aa] {
    align-items: center;
    background-color: rgb(var(--md-accent));
    border-radius: .25rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    grid-template-areas: "preview title title title options" "none status status date date";
    grid-template-columns: min-content minmax(0, 1fr) 84px minmax(min-content, 100px) min-content;
    padding: .25rem .5rem
}

@media (min-width:40rem) {
    .manga-draft-container[data-v-fc1135aa] {
        grid-template-areas: "preview title status date options"
    }
}

@media (min-width:48rem) {
    .manga-draft-container[data-v-fc1135aa] {
        grid-template-columns: min-content minmax(0, 1fr) 84px minmax(min-content, 180px) min-content
    }
}

.context-menu[data-v-fc1135aa] {
    margin-bottom: -.25rem;
    margin-right: -.25rem;
    margin-top: -.25rem;
    padding: .25rem
}

.context-button[data-v-fc1135aa],
.context-menu[data-v-fc1135aa] {
    font-size: .75rem;
    line-height: 1rem;
    min-height: 0 !important;
    min-width: 0 !important
}

.context-button[data-v-fc1135aa] {
    padding: .25rem !important
}

.context-menu-placeholder[data-v-f941075d] {
    margin-bottom: -.25rem;
    margin-right: -.25rem;
    margin-top: -.25rem;
    visibility: hidden
}

.context-button-placeholder[data-v-f941075d],
.context-menu-placeholder[data-v-f941075d] {
    font-size: .75rem;
    line-height: 1rem;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: .25rem
}

.new-button[data-v-f941075d] {
    border: 1px dashed;
    border-color: currentColor;
    border-radius: .25rem;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%
}

.sorting-option[data-v-f941075d] {
    align-items: center;
    background-color: rgb(var(--md-accent-10));
    border-color: rgb(var(--md-accent));
    border-radius: .25rem;
    border-width: 1px;
    cursor: pointer;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.sorting-option:hover>.rotating-arrow[data-v-f941075d] {
    opacity: 1
}

.rotating-arrow[data-v-f941075d] {
    cursor: pointer;
    opacity: .3;
    transition: transform .15s ease-in-out
}

.rotating-arrow.visible[data-v-f941075d] {
    opacity: 1
}

.rotate-180[data-v-f941075d] {
    transform: rotate(180deg)
}

input[type=checkbox][data-v-f57fe5b4] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: .075rem solid;
    border-radius: 2rem;
    display: grid;
    height: .75rem;
    width: .75rem
}

input[type=checkbox][data-v-f57fe5b4]:before {
    border-radius: 2rem;
    box-shadow: inset 1em 1em var(--md-primary);
    content: "";
    height: 100%;
    transform: scale(0);
    transition: transform .35s ease-out;
    width: 100%
}

input[type=checkbox][data-v-f57fe5b4]:checked:before {
    transform: scale(1)
}