body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

.sidebar {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.manga-info h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.manga-info p {
    margin: 5px 0;
}

.view-link {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.tags-container {
    margin-top: 20px;
}

.tags-container .tag {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 3px;
    display: inline-block;
    font-size: 12px;
}

.content {
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.description h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.language-buttons {
    margin-top: 20px;
}

.language-buttons button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.language-buttons button:hover {
    background-color: #0f78d0;
}

.download-all-btn {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.download-all-btn hover {
    background-color: #0f78d0;
}

.chapter-container {
    margin-top: 20px;
    max-height: calc(100vh - 300px);
    overflow-y: auto; /* Permite a rolagem vertical */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.chapter-list {
    list-style: none;
    padding: 0;
}

.chapter-item {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer; /* Indica que é clicável */
    transition: background-color 0.3s;
}

.chapter-item:hover {
    background-color: #d0e0ff; /* Destaca o item ao passar o mouse */
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Define o fundo como preto */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que esteja acima de outros elementos */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.fi-rr-file-download {
    margin-left: 10px; /* Espaço entre o texto e o ícone */
    color: #1e90ff; /* Cor do ícone */
    cursor: pointer; /* Indica que é clicável */
    transition: color 0.3s; /* Transição suave para hover */
}

.fi-rr-file-download:hover {
    color: #0f78d0; /* Cor ao passar o mouse */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
