@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    min-height: 100vh; /* Ajustado para permitir rolagem quando necessário */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha no topo da página */
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d, #88d8b0);
    background-size: 300% 300%;
    animation: gradientBackground 60s ease infinite;
    overflow-x: hidden; /* Apenas oculta a rolagem horizontal */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 90vw;
    max-width: 1200px; /* Aumenta a largura máxima para acomodar mais itens por linha */
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px; /* Adiciona espaço no topo para visualização */
}

h2 {
    margin-bottom: 1rem;
    font-family: 'Comic Sans MS', sans-serif;
    color: #333;
    font-size: 1.5rem;
}

#search-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

#results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.manga-result {
    width: 22%; /* Ajusta a largura para acomodar quatro por linha */
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.cover-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.manga-result h3 {
    font-size: 1rem;
    margin: 0;
}

.manga-result:hover {
    transform: scale(1.05); /* Adiciona um efeito de zoom ao passar o mouse */
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-numbers span {
    margin: 0 5px;
    cursor: pointer;
}

.current-page {
    font-weight: bold;
    color: #f00; /* Destaque para a página atual */
}

.pagination button {
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #555;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que esteja acima de outros elementos */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
