@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

body {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d, #88d8b0);
    background-size: 300% 300%;
    animation: gradientBackground 60s ease infinite;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.markdown-content {
    margin-bottom: 20px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.markdown-content p {
    margin: 10px 0;
}

.markdown-content ul {
    margin: 10px 0;
    padding-left: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
