body {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0 10px; /* Adiciona um pequeno padding para espaçamento */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d, #88d8b0);
    background-size: 300% 300%;
    animation: gradientBackground 60s ease infinite;
}

.container {
    background-color: #fff;
    padding: 20px; /* Reduzido de 40px para 20px */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Reduzi para 600px */
    position: relative;
}

h2 {
    margin-bottom: 20px; /* Reduzido de 30px para 20px */
    font-size: 24px; /* Reduzi para 24px */
    color: #444;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adiciona gap entre os elementos */
}

form div {
    margin-bottom: 15px; /* Reduzi de 20px para 15px */
    position: relative;
}

label {
    font-size: 14px; /* Reduzi de 16px para 14px */
    color: #666;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px; /* Reduzi de 14px para 10px */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px; /* Reduzi de 16px para 14px */
    color: #333;
    box-sizing: border-box;
}

input[type="datetime-local"] {
    width: 100%;
    padding: 10px; /* Reduzi de 14px para 10px */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px; /* Reduzi de 16px para 14px */
    color: #333;
    box-sizing: border-box;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px; /* Reduzi de 12px para 10px */
    border: none;
    border-radius: 4px;
    font-size: 16px; /* Reduzi de 18px para 16px */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 10;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    margin: 0;
    transition: color 0.2s;
}

.tag hover {
    background-color: #242323;
}

.tag span {
    margin-right: 8px;
}

.tag i {
    cursor: pointer;
    color: #777;
    transition: color 0.2s;
}

.tag i:hover {
    color: #333;
}

.tip-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.tip-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.tip-gif {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.tip-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#tip-prev-btn,
#tip-next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4cae4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tip-prev-btn:hover,
#tip-next-btn:hover {
    background-color: #45a049;
}

.tip-indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.tip-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.tip-indicators .active {
    background-color: #4cae4c;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que esteja acima de outros elementos */
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.notification {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
    margin-top: 10px; /* Espaçamento entre notificações */
    position: relative; /* Permite empilhar as notificações */
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 1000;
}

#folder {
    padding-right: 70px; /* Espaço extra para os ícones */
}

#folder-btn, #file-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#folder-btn {
    right: 35px;
}

#file-btn {
    right: 5px;
}

#folder-btn i, #file-btn i {
    font-size: 18px;
    color: #666;
}

#folder-btn:hover i, #file-btn:hover i {
    color: #333;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
