<!DOCTYPE html>
<html lang="{{ session['lang'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['downloads']['manga_details'] }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/details/details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/modal.css') }}">

    <script> const translations = {{ translations|tojson }}; </script>
    <script src="{{ url_for('static', filename='scripts/home/socket.js') }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='scripts/socket-init.js') }}"></script>

    <script>
        const mangaId = "{{ manga_id }}"; // Passa o manga_id do Flask para o JavaScript
    </script>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img id="cover-image" src="" alt="{{ translations['downloads']['manga_cover_alt'] }}" class="cover-image"/>
            <div class="manga-info">
                <h1 id="manga-title"></h1>
                <p id="manga-author"></p>
                <p id="manga-artist"></p>
                <p id="manga-status"></p>
                <a id="manga-link" href="" target="_blank" class="view-link">{{ translations['downloads']['view_on_mangadex'] }}</a>
                <div id="manga-tags" class="tags-container"></div>
            </div>
        </div>
        <div class="content">
            <div class="description">
                <h2>{{ translations['downloads']['about'] }}</h2>
                <p id="manga-description"></p>
            </div>
            <div class="buttons-container">
                <div class="language-buttons" id="language-buttons"></div>
                <button id="download-all-btn" class="download-all-btn">{{ translations['downloads']['download_all_chapters'] }}</button>
            </div>
            <div class="chapter-container">
                <div class="chapter-list" id="chapter-list"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="confirmation-modal" class="custom-modal">
        <h5 class="modal-title">{{ translations['modal']['queue']['confirmation_title'] }}</h5>
        <p>{{ translations['modal']['queue']['message_1'] }}</p>
        <p>{{ translations['modal']['queue']['message_2'] }}</p>
        <div class="modal-footer">
            <button id="delete-all" class="btn btn-danger">{{ translations['modal']['queue']['delete_all'] }}</button>
            <button id="send-again" class="btn btn-success">{{ translations['modal']['queue']['send_again'] }}</button>
        </div>
    </div>

    <!-- Fundo escurecido -->
    <div id="modal-backdrop" class="modal-backdrop"></div>

    <!-- Tela de carregamento -->
    <div id="loading-screen" class="loading-screen" style="display: flex;">
        <div class="loading-spinner"></div>
    </div>

    <script src="{{ url_for('static', filename='scripts/details/details.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/debug.js') }}"></script>
</body>
</html>
