<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <h2>LOGIN</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="username">USUÁRIO</label>
            <input type="text" id="username" name="username" required>
            <label for="password">SENHA</label>
            <input type="password" id="password" name="password" required>
            <label for="client_id">CLIENTE ID</label>
            <input type="text" id="client_id" name="client_id" required>
            <label for="client_secret">CLIENTE SECRETO</label>
            <input type="text" id="client_secret" name="client_secret" required>
            <button type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>
