<!DOCTYPE html>
<html lang="{{ session['lang'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.get('login_title', 'Login') }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="container">
        <h2>{{ translations.get('login', 'LOGIN') }}</h2>
    
        <!-- Mensagens de erro -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="error-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        <form method="POST">
            <label for="username">{{ translations.get('username', 'USUÁRIO') }}</label>
            <input type="text" id="username" name="username" required>
            <label for="password">{{ translations.get('password', 'SENHA') }}</label>
            <input type="password" id="password" name="password" required>
            <label for="client_id">{{ translations.get('client_id', 'CLIENTE ID') }}</label>
            <input type="text" id="client_id" name="client_id" required>
            <label for="client_secret">{{ translations.get('client_secret', 'CLIENTE SECRETO') }}</label>
            <input type="text" id="client_secret" name="client_secret" required>
            <button type="submit">{{ translations.get('login_button', 'LOGIN') }}</button>
        </form>
    </div>   
    <script src="{{ url_for('static', filename='scripts/debug.js') }}"></script> 
</body>
</html>
