<!DOCTYPE html>
<html lang="{{ session['lang'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ translations['upload_mult']['multi_upload'] }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/search_project.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/group-button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/groups.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/loading-overlay.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi-upload/progress_bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notification.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/black-screen.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal_tip.css') }}">

    <script> const translations = {{ translations|tojson }}; </script>
    <script> const t = translations.upload_mult; </script>
    <script> const t_tip_pc = translations.upload_mult.modal.tip_pc; </script>
    <script> const t_tip_android = translations.upload_mult.modal.tip_android; </script>
    <script src="{{ url_for('static', filename='scripts/modal_tip.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/hexagon.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/home/socket.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/background.js') }}" defer></script>
    <script src="{{ url_for('static', filename='scripts/black-screen.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/socket-init.js') }}"></script>
    <script> let tipName = 'multi_upload_page_1'; </script>
</head>
<body>
    <div class="black-screen" id="black-screen"></div>

    <!-- Modal Tip Universal -->
    <div id="tipModal" class="tip-modal">
        <div class="tip-modal-content">
            <!-- Botão "X" para fechar -->
            <span class="tip-close">&times;</span>
            
            <!-- Página 1: Introdução -->
            <div class="tip-page" id="tipPage1">
                <h2>{{ translations['upload_mult']['modal']['tip']['title'] }}</h2>
                <p>
                    {{ translations['upload_mult']['modal']['tip']['description'] }}
                </p>
        
                <div class="tip-navigation">
                    <!-- Indicadores de página -->
                    <div class="tip-steps">
                        <span class="dot" data-step="0"></span>
                        <span class="dot" data-step="1"></span>
                        <span class="dot" data-step="2"></span>
                        <span class="dot" data-step="3"></span>
                    </div>

                    <!-- Botão "Continuar" para ir à página 2 -->
                    <button class="tip-next">{{ translations['upload_mult']['modal']['tip']['next'] }}</button>
                </div>
            </div>
        
            <!-- Página 2: Selecionar a projeto -->
            <div class="tip-page" id="tipPage2" style="display: none;">
                <h2>{{ translations['upload_mult']['modal']['tip']['select_project_title'] }}</h2>
                <img src="{{ url_for('static', filename='/tips/multi_upload/project.gif') }}" alt="{{ translations['upload_mult']['modal']['tip']['select_project_img_alt'] }}" />
                <p>
                    {{ translations['upload_mult']['modal']['tip']['select_project_description'] | safe}}
                </p>
                <p>
                    {{ translations['upload_mult']['modal']['tip']['select_project_error'] }}
                </p>

                <div class="tip-navigation">
                    <button class="tip-prev">{{ translations['upload_mult']['modal']['tip']['prev'] }}</button>
            
                    <!-- Indicadores de página -->
                    <div class="tip-steps">
                        <span class="dot" data-step="0"></span>
                        <span class="dot" data-step="1"></span>
                        <span class="dot" data-step="2"></span>
                        <span class="dot" data-step="3"></span>
                    </div>

                    <button class="tip-next">{{ translations['upload_mult']['modal']['tip']['next'] }}</button>
                </div>
            </div>
        
            <!-- Página 3: Selecionar o idioma -->
            <div class="tip-page" id="tipPage3" style="display: none;">
                <h2>{{ translations['upload_mult']['modal']['tip']['select_language_title'] }}</h2>
                <img src="{{ url_for('static', filename='/tips/multi_upload/language.gif') }}" alt="{{ translations['upload_mult']['modal']['tip']['select_language_img_alt'] }}" />
                <p>
                    {{ translations['upload_mult']['modal']['tip']['select_language_description'] }}
                </p>
        
                <div class="tip-navigation">
                    <button class="tip-prev">{{ translations['upload_mult']['modal']['tip']['prev'] }}</button>
            
                    <!-- Indicadores de página -->
                    <div class="tip-steps">
                        <span class="dot" data-step="0"></span>
                        <span class="dot" data-step="1"></span>
                        <span class="dot" data-step="2"></span>
                        <span class="dot" data-step="3"></span>
                    </div>

                    <button class="tip-next">{{ translations['upload_mult']['modal']['tip']['next'] }}</button>
                </div>
            </div>
        
            <!-- Página 4: Selecionar a pasta -->
            <div class="tip-page" id="tipPage4" style="display: none;">
                <h2>{{ translations['upload_mult']['modal']['tip']['select_folder_title'] }}</h2>
                <img src="{{ url_for('static', filename='/tips/multi_upload/folder.gif') }}" alt="{{ translations['upload_mult']['modal']['tip']['select_folder_img_alt'] }}" />
                <p>
                    {{ translations['upload_mult']['modal']['tip']['select_folder_description'] }}
                </p>
        
                <div class="tip-navigation">
                    <button class="tip-prev">{{ translations['upload_mult']['modal']['tip']['prev'] }}</button>
            
                    <!-- Indicadores de página -->
                    <div class="tip-steps">
                        <span class="dot" data-step="0"></span>
                        <span class="dot" data-step="1"></span>
                        <span class="dot" data-step="2"></span>
                        <span class="dot" data-step="3"></span>
                    </div>

                    <button class="tip-finish">{{ translations['upload_mult']['modal']['tip']['finish'] }}</button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="container">
        <h2>{{ translations['upload_mult']['multi_upload'] }}</h2>

        <!-- Formulário inicial -->
        <form id="multi-upload-form">
            <div class="form-group" id="folder-input-group">
                <!-- Campo Projeto -->
                <label for="project">{{ translations['upload_mult']['project'] }}</label>
                <input type="text" id="project" name="project" placeholder="{{ translations['upload_mult']['enter_project_name'] }}" autocomplete="off">
                <ul id="project-suggestions" class="suggestions" style="display: none;"></ul>

                <!-- Campo oculto para armazenar o ID do projeto -->
                <input type="hidden" id="project-id" name="project-id">

                <label for="language">{{ translations['upload_mult']['language'] }}</label>
                <select id="language" name="language">
                    <option value="pt-br">{{ translations['upload_mult']['portuguese_brazil'] }}</option>
                    <option value="en">{{ translations['upload_mult']['english'] }}</option>
                </select>

                <label for="parent-folder">{{ translations['upload_mult']['parent_folder'] }}</label>
                <input type="text" id="parent-folder" name="parent-folder" placeholder="{{ translations['upload_mult']['enter_folder_path'] }}" data-is-android="{{ 'true' if is_android else 'false' }}">
                <button type="button" id="continue-btn">{{ translations['upload_mult']['continue'] }}</button>
            </div>
        </form>

        <!-- Lista dinâmica de pastas/arquivos -->
        <div id="folder-list" style="display: none;">
            <p id="project-title" style="font-weight: bold; margin-bottom: 10px; font-size: 24px; color: #fff;"></p> <!-- Título do projeto -->
            <h3>{{ translations['upload_mult']['files_and_folders'] }}</h3>
            <ul id="items-list"></ul>
            <p id="no-items-message" style="display: none; color: red; text-align: center;">
                {{ translations['upload_mult']['no_items'] }}
            </p>
            <button type="button" id="group-btn" class="disabled">{{ translations['upload_mult']['modal']['group']['create_group'] }}</button>
            <button type="button" id="upload-btn">{{ translations['upload_mult']['upload'] }}</button>
            <button type="button" id="reload-btn">{{ translations['upload_mult']['reload_folder'] }}</button>
        </div>
    </div>

    <ul id="items-list">
        <!-- Os itens são adicionados dinamicamente pelo JavaScript -->
    </ul>

    <!-- Modal para criação/seleção de grupo -->
    <div id="group-modal" class="group-modal">
        <div class="group-modal-content">
            <h3>{{ translations['upload_mult']['modal']['group']['create_or_select_group'] }}</h3>
    
            <div class="form-group-row">
                <!-- Campo Nome do Grupo -->
                <div class="form-group">
                    <label for="group-name">{{ translations['upload_mult']['modal']['group']['group_name'] }}</label>
                    <input type="text" id="group-name" placeholder="{{ translations['upload_mult']['modal']['group']['enter_group_name'] }}" readonly>
                </div>
    
                <!-- Campo Seleção de Grupo -->
                <div class="form-group">
                    <label for="group-select">{{ translations['upload_mult']['modal']['group']['group'] }}</label>
                    <select id="group-select">
                        <option value="novo">{{ translations['upload_mult']['modal']['group']['create_new_group'] }}</option>
                        <!-- Aqui serão adicionados grupos existentes dinamicamente -->
                    </select>
                </div>
            </div>
    
            <div class="form-group-row">
                <!-- Campo Seleção de Grupo (Scan/Equipe) -->
                <div class="form-group">
                    <label for="scan-group">{{ translations['upload_mult']['modal']['group']['scan_group'] }}</label>
                    <input type="text" id="scan-group" placeholder="{{ translations['upload_mult']['modal']['group']['enter_scan_group'] }}">
                    <ul id="scan-suggestions" class="suggestions-list"></ul>
                    <div id="selected-groups" class="tags-container"></div>
                </div>
    
                <!-- Campo Seleção de Volume -->
                <div class="form-group">
                    <label for="volume">{{ translations['upload_mult']['modal']['group']['volume'] }}</label>
                    <input type="text" id="volume" placeholder="{{ translations['upload_mult']['modal']['group']['enter_volume'] }}">
                </div>
            </div>
    
            <!-- Lista de Itens Selecionados -->
            <div id="selected-items">
                <h4>{{ translations['upload_mult']['modal']['group']['selected_items'] }}</h4>
                <ul id="selected-items-list"></ul>
            </div>
    
            <!-- Botão para criar grupo -->
            <button id="create-group-btn" class="btn-primary">{{ translations['upload_mult']['modal']['group']['create_group'] }}</button>
    
            <!-- Botão para fechar o modal -->
            <button id="close-modal-btn" class="btn-secondary">{{ translations['upload_mult']['modal']['group']['close'] }}</button>

            <!-- Botão para excluir grupo -->
            <button id="delete-group-btn" class="btn-danger" style="display: none;">{{ translations['upload_mult']['modal']['group']['delete_group'] }}</button>

        </div>
    </div>

    <!-- Tela de carregamento -->
    <div id="loading-overlay" class="loading-overlay" style="display: none;">
        <div class="loading-spinner" style="display: none;"></div>
        <canvas id="canvas-loading" style="display: none;"></canvas>

        <!-- Barra de Progresso -->
        <div class="progress" style="width: 90%; position: absolute; bottom: 10px;">
            <div 
                class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                id="progressBar" 
                role="progressbar" 
                style="width: 0%;" 
                aria-valuenow="0" 
                aria-valuemin="0" 
                aria-valuemax="100">
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="confirmation-modal" class="custom-modal">
        <h5 class="modal-title">{{ translations['modal']['queue']['confirmation_title'] }}</h5>
        <p>{{ translations['modal']['queue']['message_1'] }}</p>
        <p>{{ translations['modal']['queue']['message_2'] }}</p>
        <div class="modal-footer">
            <button id="delete-all" class="btn btn-danger">{{ translations['modal']['queue']['delete_all'] }}</button>
            <button id="send-again" class="btn btn-success">{{ translations['modal']['queue']['send_again'] }}</button>
        </div>
    </div>

    <!-- Fundo escurecido -->
    <div id="modal-backdrop" class="modal-backdrop"></div>

    <script src="{{ url_for('static', filename='scripts/multi-upload/modal_tip_update.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/multi_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/context_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/search_project.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/search_groups.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/multi-upload/shortcut_android.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/debug.js') }}"></script>

    <script>
        // Suponha que a variável animation_option seja passada para o template
        var animationOption = "{{ animation_option }}"; // 'spinner' ou 'bola'
    </script>      
</body>
</html>
