<!DOCTYPE html>
<html lang="{{ session['lang'] }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
    <title>{{ translations.get('queue_title', 'Fila de Processos') }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ translations.get('queue_title', 'Fila de Processos') }}</h1>
        <div class="menu">
            <button onclick="showSection('downloads')">{{ translations.get('downloads', 'Downloads') }}</button>
            <button onclick="showSection('uploads')">{{ translations.get('uploads', 'Uploads') }}</button>
        </div>
        <div class="reverse-toggle">
            <button id="reverse-btn" class="reverse-off" onclick="toggleReverse()">
                {{ translations.get('reverse_button', 'Reverso') }}
            </button>
        </div>
        <div id="downloads" class="section active scrollable-list">
            <h3>{{ translations.get('download_queue', 'Fila de Downloads') }}</h3>
            <ul id="download-list" class="item-list"></ul>
        </div>
        <div id="uploads" class="section scrollable-list">
            <h3>{{ translations.get('upload_queue', 'Fila de Uploads') }}</h3>
            <ul id="upload-list" class="item-list"></ul>
        </div>
        <div class="button-container">
            <button onclick="window.location.href='{{ url_for('home') }}'" class="btn-login">{{ translations.get('back_button', 'Voltar') }}</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/queue.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/notification.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/debug.js') }}"></script>
    <script>
        // Traduções para mensagens vazias
        const emptyDownloadMessage = "{{ translations.get('no_download_items', 'Nenhum item na fila de downloads') }}";
        const emptyUploadMessage = "{{ translations.get('no_upload_items', 'Nenhum item na fila de uploads') }}";
        const errorDeleteMessage = "{{ translations.get('error_delete_item', 'Erro ao excluir o item.') }}";
    </script>
</body>
</html>
