<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizações</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='updates.css') }}">
</head>
<body>
    <div class="container">
        <h2>Atualizações</h2>
        <div class="markdown-content">
            {{ content|safe }}
        </div>
        <div>
            <button onclick="window.location.href='{{ url_for('home') }}'">Voltar</button>
        </div>
        {% if nem_update %}
        <div>
            <button id="update-button" onclick="postUpdate()">Atualizar</button>
        </div>
        {% endif %}
    </div>
    <script>
        function postUpdate() {
            fetch('{{ url_for("update_route") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ update: true })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Atualização realizada com sucesso! Reinicie...');
                } else {
                    alert('Erro ao realizar atualização.');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao realizar atualização.');
            });
        }
    </script>
</body>
</html>
