<!DOCTYPE html>
<html lang="{{ session['lang'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations.get('updates_title', 'Atualizações') }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='updates.css') }}">
</head>
<body>
    <div class="container">
        <h2>{{ translations.get('updates_title', 'Atualizações') }}</h2>
        <div class="markdown-content">
            {{ content|safe }}
        </div>
        <div>
            <button onclick="window.location.href='{{ url_for('home') }}'">{{ translations.get('back_button', 'Voltar') }}</button>
        </div>
        {% if new_update %}
        <div>
            <button id="update-button" onclick="postUpdate()">{{ translations.get('update_button', 'Atualizar') }}</button>
        </div>
        {% endif %}
    </div>
    <script>
        function postUpdate() {
            fetch('{{ url_for("update_route") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ update: true })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('{{ translations.get('update_success', 'Atualização realizada com sucesso! Reinicie...') }}');
                } else {
                    alert('{{ translations.get('update_error', 'Erro ao realizar atualização.') }}');
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('{{ translations.get('update_error', 'Erro ao realizar atualização.') }}');
            });
        }
    </script>
</body>
</html>
